
<!DOCTYPE HTML>
<html>
<head>
<title>Face Reco</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Web application for Face recognition,video search" />


<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
<!-- //bootstrap -->
<link href="/static/css/dashboard.css" rel="stylesheet"> 
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all" />
<script src="/static/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/one.css">

</head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><h1><img src="/static/images/persistent-dark-logo.png" alt="" height="75px" width="75px"/></h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<div class="top-search">
				<form class="navbar-form navbar-right" id = "searchbox" action = "{{ url_for('search') }}" method="POST" >
					<input type="text" id="query" name="query" class="form-control" placeholder="Search...">
					<input type="submit" value=" ">
					<input type="image" src="/static/images/play.png" width="45" height="35" style="margin-top: 2% ;opacity: 0.65;" >
				

				<input type="image" src="/static/images/close.png" width="35" height="35" style="margin-top: 2% ;opacity: 0.65; margin-left: 2%;" onclick="document.getElementById('searchbox').reset()">
			</form>
				</div>
        </div>
		<div class="clearfix"> </div>
      </div>
    </nav>

    <div style="width: 100%; height: 100%;">

  			<div class="main-grids" style="width: 80%; height: 90%; float: left;">
			<div class="video-library" style="width: 20%; height: 90%; float: right;">
					<h4><b>Video Library</b></h4>
					<button class="collapsible">1960s</button>
						<div class="content">
							<input type="radio" name="1970s" value=""> Video 1 </input><br>
							<input type="radio" name="1970s" value=""> Video 2 </input><br>
							<input type="radio" name="1970s" value=""> Video 3 </input><br>
						</div>
					<button class="collapsible">1970s</button>
						<div class="content">
							<input type="radio" name="1980s" value=""> Video 1 </input><br>
							<input type="radio" name="1980s" value=""> Video 2 </input><br>
							<input type="radio" name="1980s" value=""> Video 3 </input><br>
						</div>
					<button class="collapsible">1980s</button>
						<div class="content">
							<input type="radio" name="1990s" value=""> Video 1 </input><br>
							<input type="radio" name="1990s" value=""> Video 2 </input><br>
							<input type="radio" name="1990s" value=""> Video 3 </input><br>
						</div>
					<button class="collapsible">1990s</button>
						<div class="content">
							<input type="radio" name="1970s" value=""> Video 1 </input><br>
							<input type="radio" name="1970s" value=""> Video 2 </input><br>
							<input type="radio" name="1970s" value=""> Video 3 </input><br>
						</div>
					<button class="collapsible">2000s</button>
						<div class="content">
							<input type="radio" name="1980s" value=""> Video 1 </input><br>
							<input type="radio" name="1980s" value=""> Video 2 </input><br>
							<input type="radio" name="1980s" value=""> Video 3 </input><br>
						</div>
					<button class="collapsible">2010s</button>
						<div class="content">
							<input type="radio" name="1990s" value=""> Video 1 </input><br>
							<input type="radio" name="1990s" value=""> Video 2 </input><br>
							<input type="radio" name="1990s" value=""> Video 3 </input><br>
						</div>
					<button class="collapsible">User Album 1</button>
						<div class="content">
							<input type="radio" name="1970s" value=""> Video 1 </input><br>
							<input type="radio" name="1970s" value=""> Video 2 </input><br>
							<input type="radio" name="1970s" value=""> Video 3 </input><br>
						</div>
					<button class="collapsible">User Album 2</button>
						<div class="content">
							<input type="radio" name="1980s" value=""> Video 1 </input><br>
							<input type="radio" name="1980s" value=""> Video 2 </input><br>
							<input type="radio" name="1980s" value=""> Video 3 </input><br>
						</div>
					<button class="collapsible">User Album 3</button>
						<div class="content">
							<input type="radio" name="1990s" value=""> Video 1 </input><br>
							<input type="radio" name="1990s" value=""> Video 2 </input><br>
							<input type="radio" name="1990s" value=""> Video 3 </input><br>
						</div>
			</div>
				<form id="Upload Form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        			<input type = "file" name="file" accept="video/*" multiple onclick="myFunction()">
        			<input type="submit" value="send">
    			</form>
			</div>

		</div>

		<div class="clearfix"> </div>

	<div class="drop-menu">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
		  <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
		</ul>
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/two.js"></script>

    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  </body>
</html>
