<! DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Test Result page</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
        <meta name="viewport" content="width = device-width, initial-scale=1, minimum-scale=1" />

    </head>

    <body>

        <article class = "demo" data-role="content">
            <ul data-role="listview">
                <li>
                    <a href="#test">
                        <img src="/test.png" alt="Test image" />
                        <h1>RESULT:</h1>
                        <p>Frame numbers:{{value}}</p>
                    </a>
                </li>

            </ul>
        </article>       
    </body>

    <script>

    /*
    <script>
        var article = document.createElement("article");
        var ul = document.createElement("ul");
        var li = document.createElement("li"); 
        article.class = "demo";
    

    


    //var element = document.getElementsByTagName('li');


    
    

    var element4 = [];
    for( var i=0; i<6; i++)
    {
        var element = document.getElementById("demo");
        var element1 = document.getElementsByTagName("ul");
        var element2 = element.appendChild(element1);
        var element3 = document.getElementsByTagName("li");
        
        element4[i] = element2.appendChild(element3);
        document.write(element[i]);
    }

*/
    
    
    </script>

</html>